<div class = "basic-outer">
	<div class = "basic-left">
		<p>Printing time</p>
	</div>
	<div class ="basic-middle">
		<p>Printing time</p>
	</div>
	<div class ="basic-right">
		<span title="{{ _('Current printer state') }}">{{ _('Status') }}</span>: <strong data-bind="text: stateString"></strong><br>
	</div>
</div>		