<div id="first_run_dialog" class="modal hide fade" data-backdrop="static" data-keyboard="false">
    
    <div class="modal-body">		
		<img src = "{{url_for('static', filename='img/Slicer-Logo.png')}}"/>
		{%trans%}<p>Slicer empowers wireless 3D Printing. </p>
		<p>We welcome you to try it out.</p>
		{%endtrans%}
        <form class="form-horizontal">
            <div class="control-group" data-bind="css: {success: validUsername()}">
                <label class="control-label" for="first_run_username"></label>
                <div class="controls">
                    <input type="text" class="input-medium" placeholder="Username" data-bind="value: username, valueUpdate: 'afterkeydown'">
                </div>
            </div>
            <div class="control-group" data-bind="css: {success: validPassword()}">
                <label class="control-label" for="first_run_username"></label>
                <div class="controls">
                    <input type="password" class="input-medium" placeholder="Password" data-bind="value: password, valueUpdate: 'afterkeydown'">
                </div>
            </div>
            <div class="control-group" data-bind="css: {error: passwordMismatch(), success: validPassword() && !passwordMismatch()}">
                <label class="control-label" for="first_run_username"></label>
                <div class="controls">
                    <input type="password" class="input-medium" placeholder="Confirm Password" data-bind="value: confirmedPassword, valueUpdate: 'afterkeydown'">
                    <span class="help-inline" data-bind="visible: passwordMismatch()">{{ _('Passwords do not match') }}</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">        
        <a href="#" class="btn btn-primary" data-bind="click: keepAccessControl, enable: validData(), css: {disabled: !validData()}">{{ _('Create account') }}</a>
    </div>
</div>
